::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1e1e24;
}
::-webkit-scrollbar-thumb {
    background: #3f2f40;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.news-banner-img {
    translate: 0px 20px;
}
.dd {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin: 0 auto 2.125rem 0;
    padding: 0 0 1rem .5rem;
    width: 100%;
    list-style-type: none;
}
.input::placeholder {
    color: black;
    font-weight: 700;
}
.input-fields {
    width: 100%;
    background: white;
    /* min-height: 15px; */
    /* height: calc(scrollHi); */
    /* overflow-x: hidden; */
    /* overflow:visible; */
    font-weight: 600;
}
.inputxl:focus {
    border-color: rgba(10, 141, 218, 0.527) !important;
    color:red;
}
.input-fields:target {
    border: 0;
    color: red;
}
.input-fields::placeholder{
    color: black;
    font-weight: 700;
}
.alt-field {
    width: 100%;
    background: white;
    /* height: 50px; */
    font-weight: 600;
}
.alt-field::placeholder{
    color: black;
    font-weight: 700;
}
.img-fields {
    object-fit: cover;
    width: 100%;
    border: 0;
}
.content {
    position: relative;
}
.button {
    /* content: ver; */
    background-color: rgba(0, 0, 255, 0.349);
    color: white;
    height: 40px;
    width: 40px;
    position: absolute;
    opacity: 0.5;
    top: 0;
    right: 0;
    z-index: 6;
}
.post-link {
    color: blue;
    
}
.inverted-arrow {
    transform: rotate(180deg);
}
.cCode {
    width: 20%;
    border: 2px solid #CBD5E0;
}
.check {
    padding: 0;
    vertical-align: bottom !important;
    position: relative;
    top: -1px;
    bottom: 0 !important;
    margin: 7px;
    width: 40px;
}
.score:empty::before {
    content: attr(data-placeholder);
}